@font-face {
	font-family: 'ArialRoundedMTBold';
	src: url('dialupfonts/ArialRoundedMTBold.eot'); /* IE9 Compat Modes */
	src: url('../dialupfonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
	url('dialupfonts/ArialRoundedMTBold.woff2') format('woff2'),
	url('dialupfonts/ArialRoundedMTBold.woff') format('woff'),
	url('dialupfonts/ArialRoundedMTBold.ttf')  format('truetype'),
	url('dialupfonts/ArialRoundedMTBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.stack {
	margin: 0 auto;
	position: relative;
	z-index: 1000;
	width: 500px;
	height: 714px;
	padding: 0;
	list-style: none;
    pointer-events: none;
}

.stack_text {
	font-family: 'ArialRoundedMTBold';
	color: white;
	vertical-align: middle;
	text-align: center;
	font-size: 60px;
	align-self: center;
}

.stack__item {
	background: #fff;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	position: absolute;
	opacity: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: auto;
  	justify-content: center;
}

.stack__item img {
	width: 100%;
	display: block;
	pointer-events: none;
}

.option-block {
	padding-top: 10%;
	font-size: 20px;
	color: white;
	font-weight: bold;
}

.option {
	background: #bdc3c7;
	border: 0px;
	border-radius: 4px;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 10px;
}


.a { background: #1abc9c; }
.b { background: #3498db; }
.c { background: #e74c3c; }
.d { background: #bdc3c7; }

